* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #918585e0;
  background-repeat: repeat;
  color: #000022;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}
.contents {
  width: 90%;
  max-width: 100%;
  margin: 25px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5, auto;

  grid-template-areas: "logo leaded leaded"
                        "principal principal principal"
                        "widget-1 widget-2 widget-3"
                        "moreinfo moreinfo moreinfo"
                        "footer footer footer"; 
                      

}
.contents > div,
.contents .leaded,
.contents .logo,
.contents .principal,
.contents .moreinfo,
.contents .footerspace {
  background: #fffffffa;
  padding: 20px;
  border-radius: 10px;
}
.contents .leaded {
  background-color: rgba(0, 0, 0, 0.774);
  text-align: right;
  grid-area: leaded;
}
.contents .leaded #nav {
  text-align: center;
  margin: 3% auto;
}
.contents .logo {
  font-family: 'Pacifico', cursive;
  color: #e5474b;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  grid-area: logo;
}
.contents .logo #img{
  align-items: center;
  height: 20%;
}
.contents .leaded a {
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  font-size: .85em;
  margin: 0 10px;
  color: #e5474b;
}
.contents .leaded a:hover {
    color: rgba(233, 17, 24, 0.75);
  }

.contents .principal {
  grid-area: principal;
}

.contents .widget-1,
.contents .widget-2,
.contents .widget-3 {
  background-color: #55a8fd;
  color: #ffffff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .widget-1 {
  grid-area: widget-1;
}
.contents .widget-2 {
  grid-area: widget-2;
}
.contents .widget-3 {
  grid-area: widget-3;
}
.contents .moreinfo {
  grid-column: 3 / 4;
  background-color: #e4c87c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: moreinfo;
}
.contents .footerspace {
  background-color: #12203e;
  color: #ffffff;
  grid-area: footer;
}
@media screen and (max-width: 768px) {
  .contents {
    grid-template-areas: "logo logo logo"
                        "leaded leaded leaded"
                        "principal principal principal"                        
                        "widget-1 widget-1 widget-1"
                        "widget-2 widget-2 widget-2"
                        "widget-3 widget-3 widget-3"
                        "moreinfo moreinfo moreinfo"
                        "footer footer footer";
  }
}

